<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{dd-MMM-yyyy HH:mm:ss} %t %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <Logger name="org.crypitor.dash" level="info" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Root>
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>